*, ol, ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.32);
  text-align: center;
}
#content {
  margin: 0 auto;
  display: table;
  position: relative;
}
#content #game-container {
  width: 100%;
}
#content #game-container canvas {
  position: relative;
}
.ui-logs {
  height: 96px;
  width: 160px;
  background-color: #e6c762;
  color: #333;
  padding: 5px;
  bottom: 0px;
  left: 0px;
  overflow: auto;
  position: absolute;
  text-align: left;
}
.ui-direction {
  height: 96px;
  width: 96px;
  bottom: 0px;
  left: 192px;
  overflow: auto;
  position: absolute;
}
.ui-direction a {
  position: absolute;
  height: 32px;
  width: 32px;
  background-color: #e6c762;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 85%;
  cursor: pointer;
  border: 1px solid #333;
}
.ui-direction a.compass {
  background-image: url('/assets/images/icons/icon-compass.png');
  top: 32px;
  left: 32px;
}
.ui-direction a.north {
  background-image: url('/assets/images/icons/icon-arrow-north.png');
  top: 0px;
  left: 32px;
}
.ui-direction a.east {
  background-image: url('/assets/images/icons/icon-arrow-east.png');
  top: 32px;
  left: 64px;
}
.ui-direction a.south {
  background-image: url('/assets/images/icons/icon-arrow-south.png');
  top: 64px;
  left: 32px;
}
.ui-direction a.west {
  background-image: url('/assets/images/icons/icon-arrow-west.png');
  top: 32px;
  left: 0px;
}
.ui-direction a:hover, .ui-direction a.selected {
  border: 2px solid #fff;
}

.ui-menu {
  position: absolute;
  bottom: 32px;
  left: 320px;
}
.ui-menu li {
  height: 32px;
  width: 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #e6c762;
  float: left;
  cursor: pointer;
  border: 1px solid #333;
  background-size: 85%;
}
.ui-menu li:hover, .ui-menu li.selected {
  border: 2px solid #fff;
}
.ui-menu li.cancel{
  background-image: url('/assets/images/icons/icon-cancel.png');
}
.ui-menu li.walk{
  background-image: url('/assets/images/icons/icon-walk.png');
  background-size: 90%;
}
.ui-menu li.wait{
  background-image: url('/assets/images/icons/icon-wait.png');
}
.ui-menu li.submit{
  background-image: url('/assets/images/icons/icon-submit.png');
}