* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-smoothing: antialiased;
    user-select: none;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000000;
    text-align: center;
}

#game-container {
    margin: 0 auto 0 auto;
    position: relative;
    text-align: center;
}

#content #game-container canvas {
    position: relative;
}