.ui-menu-container {
    position: absolute;
    bottom: -49px;
    left: 0;
    width: 100%;
}
.ui-menu {

}

.ui-time-menu {
    position: absolute;
    bottom: 32px;
    left: 160px;
}

.ui-menu li {
    height: 32px;
    width: 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.3);
    float: left;
    cursor: pointer;
    border: 1px solid #333;
    background-size: 85%;
    transition-duration: 0.7s;
}

.ui-menu li:hover, .ui-menu li.selected { border: 2px solid #fff; }
.ui-menu li.cancel { background-image: url('../assets/images/icons/icon-cancel.png'); }
.ui-menu li.walk { background-image: url('../assets/images/icons/icon-walk.png'); background-size: 90%; }
.ui-menu li.fire { background-image: url('../assets/images/icons/icon-fire.png'); }
.ui-menu li.wait { background-image: url('../assets/images/icons/icon-wait.png'); }
.ui-menu li.submit {
    position: absolute;
    top: -8px;
    color: #d3d3d3;
    font-size: 30px;
    font-weight: bold;
    font-family: Iceland;
    transition-duration: 0.7s;
    transition-timing-function: ease;
    text-decoration: none;
    opacity: 1;
    cursor: pointer;
    right: 0;
    width: auto;
    border: 0 none;
    background: transparent;
}
.ui-menu li.pause { background-image: url('../assets/images/icons/icon-pause.png'); }
.ui-menu li.play { background-image: url('../assets/images/icons/icon-play.png'); }
.ui-menu li.next { background-image: url('../assets/images/icons/icon-next.png'); }
.ui-menu li.previous { background-image: url('../assets/images/icons/icon-previous.png'); }
