.ui-pawns-infos {
    position: absolute;
    width: 300px;
    left: -310px;
    top: 0px;
    height: auto;
}

.ui-pawns-infos .pawn {
    height: 120px;
    width: 300px;
    margin: 0 0 10px auto;
    position: relative;
    background: rgba(100, 100, 100, 0.8);
    opacity: 0.5;
    border: 2px solid black;
    cursor: pointer;
}

.ui-pawns-infos .pawn.team-1 { background: rgba(100, 100, 100, 0.8); }
.ui-pawns-infos .pawn.team-2 { background: rgba(0, 0, 0, 0.8); }
.ui-pawns-infos .pawn.team-3 { background: rgba(0, 70, 100, 0.8); }
.ui-pawns-infos .pawn.team-4 { background: rgba(70, 0, 100, 0.8); }

.ui-pawns-infos .pawn .avatar {
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    border: 1px outset white;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    left: 10px;
    top: 10px;
    overflow: hidden;
}

.ui-pawns-infos .pawn.active { opacity: 1; }
.ui-pawns-infos .pawn.dead { opacity: 0.2; }
.ui-pawns-infos .pawn.dead .name:before { content:"✝ " }

.ui-pawns-infos .avatar .picture {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
}
.ui-pawns-infos .redhead .avatar .picture { background-image: url('../assets/images/redhead_avatar.png'); }
.ui-pawns-infos .blondy .avatar .picture { background-image: url('../assets/images/blondy_avatar.png'); }
.ui-pawns-infos .skeleton .avatar .picture { background-image: url('../assets/images/skeleton_avatar.png'); }

.ui-pawns-infos .name {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100%;
    text-align: right;
    color: #ffffff;
}

.ui-pawns-infos .infos {
    position: absolute;
    width: 60%;
    bottom: 10px;
    text-align: left;
    font-size: 18px;
    right: 0px;
}

.ui-pawns-infos .infos .bar {
    display: inline-block;
    width: 100%;
    height: 15px;
    position: relative;
    font-size: 12px;
    text-align: center;
    background-color: grey;
}

.ui-pawns-infos .infos .text {
    z-index: 1;
    position: relative;
    display: block;
    height: 15px;
}

.ui-pawns-infos .infos .bar .content {
    display: block;
    height: 100%;
    width: 0%;
    color: white;
    font-size: 12px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
}

.ui-pawns-infos .infos .ap, .ui-pawns-infos .infos .hp {
    color: white;
    margin: 0 10px;
}

.ui-pawns-infos .infos .ap .bar .content {
    background-color: dodgerblue;
}
.ui-pawns-infos .infos .ap .bar .content.remaining {
    background-color: #267ac9;
}

.ui-pawns-infos .infos .hp .bar .content {
    background-color: darkred;
}

.pawn .shiny {
    border-radius: 50%;
}